map $http_user_agent $bad_bot {
    default 0;
  ~*(AhrefsBot|PetalBot) 1;
}

server {
    listen 80 default_server backlog=2048 reuseport fastopen=256;
    listen [::]:80 default_server backlog=2048 reuseport fastopen=256;

    if ($bad_bot) { return 410; }

    fancyindex on;              # Enable fancy indexes.
    fancyindex_exact_size off;  # Output human-readable file sizes.
    #fancyindex_ignore pages;
    #fancyindex_header /pages/header.html;
    #fancyindex_footer /pages/footer.html;

    root /aptly/repo/public;
}
